header {
  padding: 4vw;
  background: linear-gradient(#011e4c, #324bd9 90%);
  color: #fcfcfc;
}

.round {
  padding: 4vw;
}

input {
  margin: 10px;
  font-size: 14px;
  min-width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #5dd0ea;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #011e4c;
}

.question {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.markedAnswers {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.individualAnswer {
  margin-right: 20px;
}

.song {
  display: flex;
  flex-direction: column;
}

.audio-with-number {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-number {
  color: #324bd9;
  margin-right: 5px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.songAnswer {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
}

button {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #5dd0ea;
}

button:hover {
  border: 1px solid grey;
}

.interrobang {
  width: 50px;
  height: 50px;
  float: right;
  margin: 5px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #5dd0ea;
}

.audio-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #324bd9;
  color: #fff;
  font-size: 20px;
}

.continue {
  float: right;
  margin: 20px 0;
}

.markAnswers {
  float: right;
  margin: 20px 0;
}

.reset-button {
  background-color: #324bd9;
  color: #fff;
}

.end {
  text-align: center;
  font-size: 24px;
  border: 2px solid lightgrey;
  margin: 50px;
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.progress-label {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .songAnswer {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .question {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .connectionInput {
    margin-top: 3px;
    margin-right: 3px;
  }

  .song {
    flex: 1;
    align-items: center;
  }

  .inputs {
    flex-direction: column;
    flex: 1;
  }

  input {
    margin: 0;
  }

  .songInput {
    margin: 3px;
  }

  .markedAnswers {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
